
.about{
    width: 65vw;
    margin: 0 auto;
    padding-inline: 15vw;
    height: 80vh;
}

.about-img-wrap img{
    width: 20vw;
    border-radius: 25px;
}

.about h4{
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    font-size: 2em;
    width: 30vw;


}

.about p {
    font-weight: bold;
    width: 35vw;
    margin-right: 5vw;
}

.about-menu {
  background-color: rgb(53, 53, 53);
    
    /* background-color: rgba(139, 137, 137) ; */
    border-radius: 15px;
    height: 40vh;

    display: flex;
}

.about-menu:hover{
    box-shadow: 5px 5px rgb(67, 66, 66, .5);
    transition: .4s ease;

}

.about-menu-navigation {
    border: 2px solid #d9d9d9;
    background-color: rgba(39, 39, 39, 0.9);
    width: 30%;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.about-menu-slide {
    border: 2px solid #d9d9d9;
    border-left: none;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.about-menu-navigation ul {
    height: 100%;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    justify-content: space-around;
}

.about-menu-navigation ul * {
    cursor: pointer;
    font-size: 1.5em;
    color: rgb(177, 175, 175);
    font-family: 'Rubik Mono One', sans-serif;

}


@media (max-width: 500px) {

    .about {
        padding: 0;
        width: 98vw;
        margin: 0 auto;

    }

    .about-word-wrap {
        width: 97vw;
        margin: 0 auto;
        padding: 0;
    }
    
    .about h4 {
        width: 90%;
        text-align: center;
        margin: 1em auto;
    }
    
    .about-menu-slide {
        width: 100%;
        height: 100%;
        display: block;
    }

    .about-menu-slide p {
        width: 80%;
        font-size: .9em;
        padding: 2em;
    }

    .about-menu-navigation {
        width: 100%;

        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .about-menu {
        width: 90%;
        margin: 0 auto;
        flex-flow: column;
        height: 80%;
        padding: 0;
    }


    .about-menu-navigation ul {
        align-items: center;
        width: 100%;
        padding: 0;
        height: 20vh;

    }

    .about-menu-navigation ul * {
        font-size: 1em;
        font-weight: 100;
    }

    .about-menu-slide {
        width: 100%;
        padding: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border: 2px solid #d9d9d9;
        
    }

}