 
nav {
    width: 100%;
    height: 10vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(53, 53, 53, .9);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-buttons {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

* {
    color: black;
}

.nav-buttons button, .mobile-resume {
    height: 3vh;
    font-size: 1em;
    border-radius: 10px;
    padding: .2em;
    padding-inline: .4em;
    border: 2px solid black;
    background-color: rgba(139, 137, 137, 0) ;
    font-family: 'Rubik Mono One', sans-serif;
}

.nav-buttons button:hover {
    background-color: black;
    color: rgba(139, 137, 137, 0.87);
    box-shadow: 5px 5px rgb(67, 66, 66, .5);
}

.navigations{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    font-weight: bold;
    color: black;
    
}

.nav-logo {
    width: 3vw;
}

.nav-logo img {
    width: 5vw;
    padding: 2em;
} 

.hamburger {
    width: 7vw;
}

.mobile-navigations {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(139, 137, 137, 0.9);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.mobile-navigations a {
    font-weight: bold;
    color: black;
    font-size: 2em;
    margin: 1em auto;
}

.close-mobile {
    font-size: 2em;
    border-radius: 10px;
    background-color: rgba(139, 137, 137, .5) ;
    position: fixed;
    top: 20px;

}

@media (max-width: 500px) {
    nav {
        width: 100%;
        justify-content: space-between;
        align-content: center;
    }
    .nav-logo {
        width: 10vw;
    }
    .nav-logo img {
        width: 15vw;
        height: 15vw;

    }

    .mobile-resume {
        height: 5%;
    }

    .mobile-menu {
        width: 10%;
    }

}