
.title-page{
    width: 80vw;
    height: 100vh;
    margin: 0em auto;
    padding: 5vw;
}

.title-page *{
    margin: .2em;
    padding-inline: 0;
    margin-left: 0;
}

h3 {
    font-size: 1.6em;
    color: #ef8354 !important; 

}
h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    font-size: 4em;

}
h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: #373434;


}
.title-page p {
    text-indent: .5em;
    margin: 2em;
    margin-left: 0;
    padding-left: 0;
    width: 50vw;
    font-weight: bold;
    font-size: 1.2em;
}

.contact-me{
    height: 4vh;
    width: 15vw;
    font-size: 1.2em;
    border-radius: 10px;
    padding-inline: .4em;
    border: 2px solid #d9d9d9 ;;
    background-color: rgba(139, 137, 137, 0) ;
    font-family: 'Rubik Mono One', sans-serif;
}

.title-page button:hover{
    background-color: black;
    color: rgba(139, 137, 137, 0.87);

    box-shadow: 5px 5px rgb(67, 66, 66, .5);

}

@media (max-width:500px) {

    .title-page {
        margin: 3em auto;
    }

    h1{
        font-size: 2em;
        font-weight: 300;
        text-decoration: none;
    }

    h3 {
        font-size: .7em;
    }

    h2 {
        font-weight: 300;
        font-size: 1.5em;
    }

    .title-page p {
        width: 80vw;
        font-size: .8em;
    }

    .title-page button {
        width: 80%;
        margin: 0 auto;
        
    }

    .title-btn-wrap {
        width: 70vw;
        margin: 0 auto;
        padding: 0;
    }
}